*.tgitconfig
*.exe
*.dll
*.dof
*.dsk
*.dc?il
*.dcu
*.cfg
*.pdb
*.cfb
*.local
*.identcache
*.rsp
*.tgs
*.tgw
*.~*
*.ddp
*.bak
*.old
*.stat
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
*.cfg
*.dcp
*.git
*.GIT
*.bpl
*.bat
